.company-tag-marquee {
  /* margin-bottom: 3rem; */
  /* padding-left: 2rem; */
  /* padding-right: 2rem; */
  padding-top: 1rem;
  padding-bottom: 1rem;
  /* background: linear-gradient(90deg, #ffff0022, #ffff0011 100%); */
  background: #111;
  box-shadow: 0.25rem 0.25rem 1rem 0 #000 inset;
  border-radius: 0.5rem;
  display: flex;
  /* filter: blur(1px); */
}

.lightMode .company-tag-marquee {
  /* background: linear-gradient(90deg, #dfdfd622, #acacab11 100%); */
  background: white !important;
  box-shadow: 0.25rem 0.25rem 1rem 0 var(--accent-mid) inset;
}

.marquee-tag {
  margin-right: 0.5rem !important;
}
